<footer class="footer-section my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer">
                    <div class="layout"></div>
                    <div class="caption">
                        <div class="row row1">
                            <div class="col-md-6">
                                <div class="title">
                                    <i class="fas fa-hamburger"></i>
                                    <span>burger house</span>
                                    <p class = 'p'>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam repellat, consectetur incidunt ab ratione veniam officiis quis sit natus necessitatibus voluptas ullam delectus voluptate tempore maxime quidem suscipit at recusandae reiciendis ipsam voluptatum omnis amet nulla numquam. Vero deleniti ut ab fugiat neque incidunt nobis sunt? Mollitia fugit, debitis vel nesciunt commodi officiis saepe odit temporibus perspiciatis eos ratione cumque voluptates architecto dolor. Officiis animi autem similique, mollitia quo perspiciatis.</p>
                                    <p class = 'p2'>&copy;COMPANY NAME 2020 ALL RIGHTS RESERVED</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <ul>
                                    <li>
                                        <i class="fas fa-map-marker-alt"></i>
                                        <span>main road, building name, company</span>
                                    </li>
                                    <li>
                                        <i class="fas fa-envelope"></i>
                                        <span>info@companyname.com</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>