<div class="book-section my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="title text-center">
                    <p>reservation</p>
                    <h2>book your table</h2>
                </div>
                <form>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <input type="text" class="form-control w-100" placeholder="NAME">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <input type="email" class="form-control w-100" placeholder="EMAIL">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <input type="date" class="form-control w-100" placeholder="DATE">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <input type="text" class="form-control w-100" placeholder="TIME">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <input type="text" class="form-control w-100" placeholder="PEOPLE">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <button class = 'btn btn-danger w-100'>find a date</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>