.title p,.title h2
{
    color:#3c2513;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    margin:0;
    padding:0;
}
.title h2
{
    font-size: 50px;
    margin-bottom:40px;
}
form
{
    width:70%;
    margin: auto;
}
.form-group
{
    margin-bottom: 30px;
}
form input , .btn
{
    height: 50px;
}
.btn
{
    border:0;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
}