<div class="event-section my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="caption">
                                    <p>discover</p>
                                    <h3>upcomming events</h3>
                                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam culpa nihil saepe laboriosam architecto! Distinctio, vitae explicabo ex incidunt placeat labore officiis inventore. Dolor consequatur nostrum vero incidunt sed totam obcaecati eos a repellendus praesentium nesciunt rerum, doloribus, esse eaque sequi fuga. Hic dicta, nostrum repellat necessitatibus architecto iure nisi labore cupiditate natus voluptatibus quaerat eaque doloremque, consectetur accusantium illum saepe earum repudiandae, soluta rerum eveniet enim. Ipsam distinctio cum exercitationem harum maiores repudiandae unde, esse veritatis accusamus aspernatur numquam.</span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <img src="../../../assets/imgs/burger1.jpg" class="img-fluid w-100" alt="...">
                            </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="caption">
                                    <p>discover</p>
                                    <h3>upcomming events</h3>
                                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam culpa nihil saepe laboriosam architecto! Distinctio, vitae explicabo ex incidunt placeat labore officiis inventore. Dolor consequatur nostrum vero incidunt sed totam obcaecati eos a repellendus praesentium nesciunt rerum, doloribus, esse eaque sequi fuga. Hic dicta, nostrum repellat necessitatibus architecto iure nisi labore cupiditate natus voluptatibus quaerat eaque doloremque, consectetur accusantium illum saepe earum repudiandae, soluta rerum eveniet enim. Ipsam distinctio cum exercitationem harum maiores repudiandae unde, esse veritatis accusamus aspernatur numquam.</span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <img src="../../../assets/imgs/burger4.jpg" class="img-fluid w-100" alt="...">
                            </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="caption">
                                    <p>discover</p>
                                    <h3>upcomming events</h3>
                                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam culpa nihil saepe laboriosam architecto! Distinctio, vitae explicabo ex incidunt placeat labore officiis inventore. Dolor consequatur nostrum vero incidunt sed totam obcaecati eos a repellendus praesentium nesciunt rerum, doloribus, esse eaque sequi fuga. Hic dicta, nostrum repellat necessitatibus architecto iure nisi labore cupiditate natus voluptatibus quaerat eaque doloremque, consectetur accusantium illum saepe earum repudiandae, soluta rerum eveniet enim. Ipsam distinctio cum exercitationem harum maiores repudiandae unde, esse veritatis accusamus aspernatur numquam.</span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <img src="../../../assets/imgs/burger3.jpg" class="img-fluid w-100" alt="...">
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>