<div class="new-section my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12 mb-4">
                <div class="news">
                    <img src="../../../assets/imgs/burger1.jpg" class = "img-fluid w-100" alt="">
                    <div class="caption">
                        <p>try it now</p>
                        <h5>most popular burger</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="news">
                    <img src="../../../assets/imgs/burger2.jpg" class = "img-fluid w-100 burger" alt="">
                    <div class="caption">
                        <p>try it now</p>
                        <h5>most popular burger</h5>
                    </div>
                </div>
                <div class="news mt-4">
                    <img src="../../../assets/imgs/burger2.jpg" class = "img-fluid w-100 burger" alt="">
                    <div class="caption">
                        <p>try it now</p>
                        <h5>most popular burger</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>